/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: rgb(255,255,255);
}

#title {
  font-size: 100px;
  width: 700px;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid white;
  margin: 0 auto;
  background-color: rgb(64,64,64);
}

#heart {
  color: rgb(242,92,92);
}

#byline {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}

#tagline {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 100px;
}

.subhead {
  font-size: 30px;
  margin: 30px 0 30px 0;
  text-align: center;
  padding: 20px;
  border: 5px solid white;
  color: white;
  background-color: rgb(64,64,64);
}

.subheadcat {
  font-size: 30px;
  margin: 30px 0 30px 0;
  text-align: center;
  color: rgb(242,92,92);
}

/*FULL PAGE ANIMATIONS*/

#rainbowlines {

}

/*CIRCLES FALLING DIV*/

#headcirclesFalling {
  text-align: center;
  width: 100%;
  height: 200px;
  background-color: white;
}

.headcirclesFallWrap {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.headcircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  transform: translateY(-30px);
  animation: bounce-balls 1.2s cubic-bezier(0.245, 0.325, 0.510, 1.305) infinite alternate;
}

@keyframes bounce-balls {
  30% {transform: translateY(-30px);}
  60% {transform: translateY(115px);}
  80% {transform: translateY(100px);}
  100% {transform: translateY(105px);}
}

#head-cir1 {
  background-color: rgb(173,216,230);
  animation-delay: .1s;
}

#head-cir2 {
  background-color: rgb(135,206,250);
  animation-delay: .2s;
}

#head-cir3 {
  background-color: rgb(100,149,237);
  animation-delay: .3s;
}

#head-cir4 {
  background-color: rgb(70,130,180);
  animation-delay: .4s;
}

#head-cir5 {
  background-color: rgb(0,0,205);
  animation-delay: .5s;
}

#head-cir6 {
  background-color: rgb(0,0,128);
  animation-delay: .6s;
}

#head-cir7 {
  background-color: rgb(173,216,230);
  animation-delay: .7s;
}

#head-cir8 {
  background-color: rgb(135,206,250);
  animation-delay: .8s;
}

#head-cir9 {
  background-color: rgb(100,149,237);
  animation-delay: .9s;
}

#head-cir10 {
  background-color: rgb(70,130,180);
  animation-delay: 1.0s;
}

#head-cir11 {
  background-color: rgb(0,0,205);
  animation-delay: 1.1s;
}

#head-cir12 {
  background-color: rgb(0,0,128);
  animation-delay: 1.2s;
}

#head-cir13 {
  background-color: rgb(173,216,230);
  animation-delay: 1.3s;
}

#head-cir14 {
  background-color: rgb(135,206,250);
  animation-delay: 1.4s;
}

#head-cir15 {
  background-color: rgb(100,149,237);
  animation-delay: 1.5s;
}

#head-cir16 {
  background-color: rgb(70,130,180);
  animation-delay: 1.6s;
}

#head-cir17 {
  background-color: rgb(0,0,205);
  animation-delay: 1.7s;
}

#head-cir18 {
  background-color: rgb(0,0,128);
  animation-delay: 1.8s;
}
#head-cir19 {
  background-color: rgb(173,216,230);
  animation-delay: 1.9s;
}

#head-cir20 {
  background-color: rgb(135,206,250);
  animation-delay: 2.0s;
}

#head-cir21 {
  background-color: rgb(100,149,237);
  animation-delay: 2.1s;
}

#head-cir22 {
  background-color: rgb(70,130,180);
  animation-delay: 2.2s;
}

#head-cir23 {
  background-color: rgb(0,0,205);
  animation-delay: 2.3s;
}

#head-cir24 {
  background-color: rgb(0,0,128);
  animation-delay: 2.4s;
}

#head-cir25 {
  background-color: rgb(0,0,128);
  animation-delay: 2.5s;
}
#head-cir26 {
  background-color: rgb(173,216,230);
  animation-delay: 2.6s;
}

#head-cir27 {
  background-color: rgb(135,206,250);
  animation-delay: 2.7s;
}

#head-cir28 {
  background-color: rgb(100,149,237);
  animation-delay: 2.8s;
}

#head-cir29 {
  background-color: rgb(70,130,180);
  animation-delay: 2.9s;
}

#head-cir30 {
  background-color: rgb(0,0,205);
  animation-delay: 3.0s;
}

#head-cir31 {
  background-color: rgb(0,0,128);
  animation-delay: 3.1s;
}
#head-cir32 {
  background-color: rgb(135,206,250);
  animation-delay: 3.2s;
}

#head-cir33 {
  background-color: rgb(100,149,237);
  animation-delay: 3.3s;
}

#head-cir34 {
  background-color: rgb(70,130,180);
  animation-delay: 3.4s;
}

#head-cir35 {
  background-color: rgb(0,0,205);
  animation-delay: 3.5s;
}

#head-cir36 {
  background-color: rgb(0,0,128);
  animation-delay: 3.6s;
}


/*CSS ANIMATIONS*/
.animationWrap {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
}

.animation {
  position: relative;
  background-color: white;
  border: 1px solid darkgray;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.animationTitle {
  margin-bottom: 10px;
  background-color: rgb(64,64,64);
  text-align: center;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  color: rgb(242,92,92);
  border-radius: 5px 5px 0 0;
}

/*DROP DOWN REVEAL HOVER*/

#stationaryDiv {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: blue;
}

#dropdownDiv {
  position: absolute;
  bottom: 100%;
  height: 0;
  background-color: gold;
  overflow: hidden;
  transition: 1s ease;
}

#stationaryDiv:hover #dropdownDiv {
  bottom: 0;
  height: 100%;
  width: 100%;
}

/*CHANGE COLOR ON CLICK*/

#changeColorClickDiv {
  height: 100px;
  width: 100px;
  background-color: blue;
}

/*CHANGE COLOR ON HOVER*/

#changeColorHoverDiv {
  height: 100px;
  width: 100px;
  background-color: blue;
  transition: background-color 2s;
}

#changeColorHoverDiv:hover {
  background-color: gold;

}

/*FADE IN ON HOVER*/
#fadeInDiv {
  height: 100px;
  width: 100px;
  background-color: blue;
  opacity: .4;
  transition: .5s ease-in-out;
}

#fadeInDiv:hover {
  opacity: 1;
}

/*CIRCLES FALLING*/

#circlesFalling {
  text-align: center;
}

.circlesFallWrap {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  transform: translateY(-30px);
  animation: bounce-balls 1.2s cubic-bezier(0.245, 0.325, 0.510, 1.305) infinite alternate;
}

@keyframes bounce-balls {
  30% {transform: translateY(-30px);}
  60% {transform: translateY(115px);}
  80% {transform: translateY(100px);}
  100% {transform: translateY(105px);}
}

#cir1 {
  background-color: rgb(173,216,230);
  animation-delay: .6s;
}

#cir2 {
  background-color: rgb(135,206,250);
  animation-delay: .7s;
}

#cir3 {
  background-color: rgb(100,149,237);
  animation-delay: .8s;
}

#cir4 {
  background-color: rgb(70,130,180);
  animation-delay: .6s;
}

#cir5 {
  background-color: rgb(0,0,205);
  animation-delay: .4s;
}

#cir6 {
  background-color: rgb(0,0,128);
  animation-delay: .5s;
}

