/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: rgb(255,255,255);
}

#title {
  font-size: 100px;
  width: 700px;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid white;
  margin: 0 auto;
  background-color: rgb(64,64,64);
}

#heart {
  color: rgb(242,92,92);
}

#byline {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}

#tagline {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 100px;
}

.subhead {
  font-size: 30px;
  margin: 30px 0 30px 0;
  text-align: center;
  padding: 20px;
  border: 5px solid white;
  color: white;
  background-color: rgb(64,64,64);
}

.subheadcat {
  font-size: 30px;
  margin: 30px 0 30px 0;
  text-align: center;
  color: rgb(242,92,92);
}

/*COLORS*/

.Group1 {
  background-color: rgb(18,197,72);
}

.Group2 {
  background-color: rgb(255,185,0);
}

.Group3 {
  background-color: rgb(255,120,0);
}

.Group4 {
  background-color: rgb(245,0,37);
}

.Group5 {
  background-color: rgb(166,23,150);
}

.Group6 {
  background-color: rgb(0,155,225);
}



/*FULL PAGE ANIMATIONS*/

.animationFull {
  width: 100%;
  height: 200px;
  background-color: white;
}


/*RAINBOW LINES DIV*/

#rainbowlines {
  border: 1px solid white;
}

.rainbowLinesWrap {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.line {
  width: 50px;
  height: 200px;
  transform: rotate(45deg);
  transition: background-color 1s;
}

.lineGroup1 {
  background-color: rgb(18,197,72);
}

.lineGroup1:hover {
  background-color: rgb(197,18,143);
}

.lineGroup2 {
  background-color: rgb(255,185,0);
}

.lineGroup2:hover {
  background-color: rgb(0,70,255);
}

.lineGroup3 {
  background-color: rgb(255,120,0);
}

.lineGroup3:hover {
  background-color: rgb(0,135,255);
}

.lineGroup4 {
  background-color: rgb(245,0,37);
}

.lineGroup4:hover {
  background-color: rgb(0,245,208);
}

.lineGroup5 {
  background-color: rgb(166,23,150);
}

.lineGroup5:hover {
  background-color: rgb(23,166,39);
}

.lineGroup6 {
  background-color: rgb(0,155,225);
}

.lineGroup6:hover {
  background-color: rgb(225,70,0);
}



/*CIRCLES FALLING DIV*/

#headcirclesFalling {
  text-align: center;
}

.headcirclesFallWrap {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.headcircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px;
/*  transform: translateY(-30px);*/
}

.headcircle:hover {
  animation: bounce-balls 1.2s cubic-bezier(0.245, 0.325, 0.510, 1.305) infinite alternate;
}

@keyframes bounce-balls {
/*  30% {transform: translateY(0px);}*/
  60% {transform: translateY(115px);}
  80% {transform: translateY(100px);}
  100% {transform: translateY(105px);}
}

/*SPINNERS*/

.spinnerwrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spinner {
  border-radius: 2% 50%;
  height: 100px;
  transition: 3s ease-out;
  width: 100px;
}

.spinner:hover {
  transform: rotate(1080deg);
}



/* SMALL CSS ANIMATIONS*/
.animationWrap {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
}

.animation {
  position: relative;
  background-color: white;
  border: 1px solid darkgray;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.animationTitle {
  margin-bottom: 10px;
  background-color: rgb(64,64,64);
  text-align: center;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  color: rgb(242,92,92);
  border-radius: 5px 5px 0 0;
}

/*DROP DOWN REVEAL HOVER*/

#stationaryDiv {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: blue;
}

#dropdownDiv {
  position: absolute;
  bottom: 100%;
  height: 0;
  background-color: gold;
  overflow: hidden;
  transition: 1s ease;
}

#stationaryDiv:hover #dropdownDiv {
  bottom: 0;
  height: 100%;
  width: 100%;
}

/*CHANGE COLOR ON CLICK*/

#changeColorClickDiv {
  height: 100px;
  width: 100px;
  background-color: blue;
}

/*CHANGE COLOR ON HOVER*/

#changeColorHoverDiv {
  height: 100px;
  width: 100px;
  background-color: blue;
  transition: background-color 2s;
}

#changeColorHoverDiv:hover {
  background-color: gold;
}

/*FADE IN ON HOVER*/
#fadeInDiv {
  height: 100px;
  width: 100px;
  background-color: blue;
  opacity: .4;
  transition: .5s ease-in-out;
}

#fadeInDiv:hover {
  opacity: 1;
}

/*CIRCLES FALLING*/

#circlesFalling {
  text-align: center;
}

.circlesFallWrap {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  transform: translateY(-30px);
  animation: bounce-balls 1.2s cubic-bezier(0.245, 0.325, 0.510, 1.305) infinite alternate;
}

@keyframes bounce-balls {
  30% {transform: translateY(-30px);}
  60% {transform: translateY(115px);}
  80% {transform: translateY(100px);}
  100% {transform: translateY(105px);}
}

#cir1 {
  background-color: rgb(173,216,230);
  animation-delay: .6s;
}

#cir2 {
  background-color: rgb(135,206,250);
  animation-delay: .7s;
}

#cir3 {
  background-color: rgb(100,149,237);
  animation-delay: .8s;
}

#cir4 {
  background-color: rgb(70,130,180);
  animation-delay: .6s;
}

#cir5 {
  background-color: rgb(0,0,205);
  animation-delay: .4s;
}

#cir6 {
  background-color: rgb(0,0,128);
  animation-delay: .5s;
}


